body{
    color: #000;
    
}

h2{
    padding-bottom: 20px;
}
.parallax{
    min-height:700px;
    background:transparent;
}

#profile{
    float: right;
}

nav{
    background-color:#fff;
    padding: 0px 60px 0px 60px;
}

.space{
    padding: 20px 0px;
}

.name{
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    z-index: 2;
    position: relative;
    padding: 150px;
}


.section{
    padding: 60px;
    /*margin-bottom: 500px;*/

}
 .btn{
    
 }

 .btn:hover{
     
 }

 .btn:active{
    background-color: grey;
    border: grey;
 }

#activities .row, .bar{
    padding: 10px 0px;
    border-top: 1px solid grey;
} 

#activities h3{
    font-size: 20px;
    
   
}

.theEnd{
    padding-bottom: 40px;
    padding-top: 10px;
}

#footer{
    background-color: grey;
    color: white;
    height: 100px;
}


